* {
    text-align: center;
    background-color: #FED8B1;
    color: #6F4E37;
    font-family: sans-serif;
}

h1 {
    background-color: #ECB176;
}

h3 {
    background-color: #ECB176
}

ul, ol {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

li {
    padding: 10px;
    text-align: left;   
}

img {
    border-radius: 20%;
}

a:hover {
    background-color: #6F4E37;
    color: #FED8B1;
}

a {
    text-decoration: none;
}